<main>
    <section>
        <div class="container">
            <h2>Error</h2>
            <article>
                <h1>{{message}}</h1>
                <h2>{{error.status}}</h2>
                <pre>{{error.stack}}</pre>
            </article>
        </div>
    </section>
</main>