<main>
    <section>
        <div class="container">
            <h2>Offline: pagina niet gevonden</h2>
            <article>
                <p>{{content}}</p>
            </article>
        </div>
    </section>
</main>